@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Space+Grotesk:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1C1C26;
    overflow: hidden;
}
.img-background{
    position: absolute;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#title-main{
    background-color:  #f19408;
    font-family: 'Roboto', sans-serif;
    z-index: 200;
}
#title-main-h1{
    text-align: center;
    font-size: 4vw;
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu-popup{
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
    width: 30px;
}
.barra-lateral{
    position: relative;
    max-width: 17vw;
    min-width: 300px;
    min-height: 400px;
    max-height: 65vh;
    height: 65vh;
    background-color: #362d402c;
    border: solid 1px #777373a1;
    backdrop-filter: blur(200px);
    margin-left: -385px;
}
#box-align{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    padding-top: 20px;
}
#menu-close{
    position: absolute;
    width: 30px;
}
#ficha{
    text-align: center;
    padding-top: 50px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color:#fff;
}
.h3-links{
    margin-left: 30px;
    /* padding-top: 60px; */
    padding-top: 5vh;
}
.a-links{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 11px;
    text-decoration: none;
    color: #fff;
}
.menu-show{
    animation: movingMenu 0.3s;
    margin-left: 0px;
}
@keyframes movingMenu {
    0%{
        margin-left: -385px;
    }
    100%{
        margin-left: 0px;
    }
}
.closedMenu{
    animation: movingMenuClose 0.3s;
    margin-left: -385px;

}
@keyframes movingMenuClose {
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: -385px;
    }
}