@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Space+Grotesk:wght@300;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}
body{
    background-color: #1C1C26;
    /* overflow: hidden; */
}
.img-background2{
  position: absolute;
  background-size: cover;
  width: 100vw;
  height: 125vh;
}
#box{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #f19408;
  width: 100vw;
  padding-bottom: 20px;
  z-index: 1300;
}
#title{
    color: #000;
    text-align: center;
    text-align: center;
    font-size: 4vw;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}
#menu-popup{
  position: fixed;
  margin-top: 100px;
  margin-left: 20px;
  width: 30px;
  z-index: 1500;
}
.barra-lateral{
  position: relative;
  max-width: 17vw;
  min-width: 300px;
  min-height: 400px;
  max-height: 70vh;
  height: 66vh;
  background-color: rgb(42 42 42 / 92%);
  border: solid 1px #868383a1;
  margin-left: -385px;
  border-top-style: none;
  border-left-style: none;
  border-bottom-right-radius: 10px;
  padding-top: 80px;
  z-index: 250;
}
#box-align{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    padding-top: 20px;
}
#menu-close{
    position: absolute;
    width: 30px;
}
#ficha{
    text-align: center;
    padding-top: 50px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color:#fff;
}
.h3-links{
    margin-left: 30px;
    /* padding-top: 60px; */
    padding-top: 5vh;
}
.a-links{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 11px;
    text-decoration: none;
    color: #fff;
}
.menu-show{
    animation: movingMenu 0.3s;
    margin-left: 0px;
}
@keyframes movingMenu {
    0%{
        margin-left: -385px;
    }
    100%{
        margin-left: 0px;
    }
}
.closedMenu{
    animation: movingMenuClose 0.3s;
    margin-left: -385px;

}
@keyframes movingMenuClose {
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: -385px;
    }
}

/*--------------------------------------------------------------------------------*/

.alignCitizen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #idCitizen-section {
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 66vh;
    margin-top: -17rem;
    z-index: 2;
  }
  .align-section {
    display: flex;
    justify-content: center;
    width: 95vw;
    height: 100vh;
    margin-top: -5em;
    background-color: #ffffff0f;
    border: solid 1px #ffffff17;
    backdrop-filter: blur(0.5rem);
    border-radius: 15px;
  }
  .box-class {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: rgrgb(19 21 22 / 18%);
    border-radius: 20px;
  }
  #title-section {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 23px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 17.5px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 4px;
    color: #ffffff;
    z-index: 900;
  }
  .box-align{
      display: flex;
      justify-content: space-around;
      margin-bottom: 70px;
    }
    label{
      margin-left: 5px;
    }
  .pergunta{
    text-align: center;
    color: #D1E6FF;
    padding-bottom: 20px;
    letter-spacing: 1px;
  }
  .rotulo{
    color: #aba8a8;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 22px;
  }
  .listagem{
    width: 60vw;
    height: 30px;
    border-radius: 7px;
    text-align: center;
    outline: 0;
  }
  .align-section, .box-class{
    transform: matrix3d(180);
    transition-duration:5s ;
  }
  input {
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  
  input:checked {
    border: 6px solid #ee8829;
  }
  
  button,
  legend {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
  }
  
  button:hover,
  button:focus {
    color: #999;
  }
  
  button:active {
    background-color: white;
    color: black;
    outline: 1px solid black;
  }
  /* _______________________________________________________________________________________ */
  .labelgenericone, .labelgenerictwo{
    color: #D1E6FF;
  }
  .box-align-input {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  .classgenericone{
    text-transform: uppercase;
    width: 59vw;
    border-radius: 0px;
    margin-bottom: 27px;
    font-weight: 600;
    height: 20px;
  }
  .classgenerictwo{
    width: 18vw;
    border-radius: 0px;
    margin-bottom: 27px;
    font-weight: 600;
    height: 20px;
  }
  .genericInput {
    font-family: "Inter", sans-serif;
    background-color: #e0080800;
    border-bottom: solid 2px rgb(189, 186, 186);
    border-right: 0;
    border-top: 0;
    border-left: 0;
    outline: 0;
    color: #ffffff;
  }

  /* _______________________________________________________________________________________ */

  .animated {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);
  
  }
  .menuhanburghide{
    display: none;
  }